<div class="span3">
     @Html.Action("LangMenu", "Home")
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Пользователи</li>
            <li>@Html.ActionLink("Пользователи", "Index", "User")</li>
        </ul>
    </div>
</div>