@{
    ViewBag.Title = GlobalRes.activate_success;
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>@GlobalRes.activate_success</h2>

<p>@Html.ActionLink(GlobalRes.on_main, "Index", "Home")</p>